							VERY VERY IMPORTANT NOTE
##################################################################################################

Power Blue Server Tested well and working well on the below system environment.
Power Blue Server Might or Might not work on all other environments.

Please feel free to install and test the power blue server on other environments as well.
Please inform us at the below github link whether the power blue server is working fine or not in the other environments.
Please do mention the environment details as well in the github link below, with the status as WORKING or NOT_WORKING.

GITHUB LINK: http://bit.ly/1zkKX29

Thank You.

##################################################################################################


                              SYSTEM REQUIREMENTS
##################################################################################################
			
Microsoft Office: Microsoft Office Professional Plus 2010

Microsoft PowerPoint: 	Microsoft PowerPoint 2010 - 32 Bit

Power Point Extensions: PPT & PPTX	

Operating System:  Windows 7 Enterprise - Service Pack 1

Processor: Intel(R) Core(TM) i7-3635 QM CPU @ 2.40GHz 2.40GHz

RAM: 8 GB

System Type: 64-bit Operating System.

##################################################################################################